#tweet-action-container {
  display: flex;
  gap: 0px;
  align-items: center;
  cursor: pointer;

  transition: color 0.4s ease-in-out 100ms;

  #number-text{
    min-width: 50px;
    max-width: 50px;
  }
  mat-icon {
    width: 17px;
    height: 17px;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out 100ms;
  }
}
#tweet-action-container:hover{
  color: var(--hoverColor);

  mat-icon {
    background-color: var(--hoverBgColor);
  }
}
