<div id="display-dialog-container">
  <mat-dialog-content>
    <header>
      <h2 class="mat-h2"><strong>Customize your view</strong></h2>
      <span class="mat-caption sub-text">These settings affect all the Twitter accounts on this browser.</span>
    </header>
    <section>
      <span class="mat-caption sub-text">Font size</span>
      <div></div>
    </section>
    <section>
      <span class="mat-caption sub-text">Color</span>
      <div></div>
    </section>
    <section>
      <span class="mat-caption sub-text">Background</span>
      <div></div>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" style="border-radius: 999px;" [mat-dialog-close]="true" cdkFocusInitial>Done</button>
  </mat-dialog-actions>
</div>
