<div id="tweet-composer-container">
  <img src="../../../../assets/avatar.jpg"  style="border-radius: 50%; width: 40px; height: 40px">
  <div style="display: flex; flex-direction: column; flex-grow: 1">
    <div>Everyone ></div>
    <div id="tweet-text-editor">Some tweet text here</div>
    <div id="selected-files">selected images | single gif</div>
    <div id="replay-settings">Everyone can reply</div>

    <div id="actions-container" class="primaryColor">
      <div style="display:flex;">
        <pri-circle-btn svgIcon="media-image"></pri-circle-btn>
        <pri-circle-btn svgIcon="media-gif" ></pri-circle-btn>
        <pri-circle-btn svgIcon="media-poll" ></pri-circle-btn>
        <pri-circle-btn svgIcon="media-emoji" ></pri-circle-btn>
        <pri-circle-btn svgIcon="media-schedule" ></pri-circle-btn>
        <pri-circle-btn svgIcon="media-location" [disabled]="true"></pri-circle-btn>
      </div>
      <div style="flex-grow: 1; display:flex; gap: 10px; justify-content: flex-end;align-items: center;">
        <div style="display: flex; align-items: center; border-right: 1px solid gray;
        padding-top: 3px; padding-bottom: 3px; padding-right: 10px;">
          <mat-progress-spinner
            mode="determinate"
            strokeWidth="2"
            diameter="25"
            [value]="50">
          </mat-progress-spinner>
        </div>
        <mat-progress-spinner
            mode="determinate"
            strokeWidth="2"
            diameter="25"
            [value]="100">
          </mat-progress-spinner>

        <button mat-raised-button color="primary"
    style="border-radius: 999px; opacity: 0.45; font-weight: 450; height: 34px;">Tweet</button>
      </div>
    </div>
  </div>
</div>
