#colored-circle-container{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color box-shadow 0.4s ease-in-out;
}
#colored-circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 7px, rgba(255, 255, 255, 0.15) 0px 1px 3px 1px;
}
#colored-circle.active {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 7px, rgba(255, 255, 255, 0.15) 0px 1px 3px 1px;
}

