#sidenav-link-container {
  position: relative;
  display: flex;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 11px;

  gap: 15px;
}
.text-active {
  font-weight: 500;
}
.text {
  font-weight: 200;
}
.no-r-p {
  padding-right: 11px;
}
.r-p {
  padding-right: 25px;
}
.md-w {
  width: 46.5px;
}

