
#mnu-item-container{

  min-width: 280px;
  ::ng-deep.mat-menu-item {
    height: 58px;
  }

  ::ng-deep.mat-icon {
    margin-left: 16px;
  }
  mat-icon {
    width: 17px;
    height: 17px;
  }
}
#icon-container{
  display:flex;
  align-items: center;
  justify-items: space-around;
  justify-content: space-around;
}
#icon-background{
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#check-container {
  position: absolute;
  right: 0;
  flex-grow: 1;
  display: flex;
  min-width: 30px;
  justify-items: flex-end;
  justify-content: flex-end;
  ::ng-deep.mat-icon {
    margin-left: 0px;
    margin-right: 16px;
  }
}
