<div id="nav-container"
  style="width: 275px; height: 100vh; display: flex; flex-direction: column;">
  <mat-icon svgIcon="twitter" ngClass="hoverAnimation" style="width: 30px; height: 30px"></mat-icon>
  <nav style="display: flex; flex-direction: column;">
    <app-sidenav-link text="Home" [active]="true"></app-sidenav-link>
    <app-sidenav-link text="Explore" [active]="true"></app-sidenav-link>
    <app-sidenav-link text="Notifications" [active]="true"></app-sidenav-link>
    <app-sidenav-link text="Messages" [active]="true"></app-sidenav-link>
    <app-sidenav-link text="Profile" [active]="true"></app-sidenav-link>
    <app-sidenav-link text="More" [active]="true"></app-sidenav-link>
  </nav>
  <div style="margin-top: 10px;">
    <button *ngIf="sz.on != 'md'" mat-raised-button color="primary"
    style="border-radius: 999px; width: 227.7px; min-height: 47px;">Tweet</button>
    <button *ngIf="sz.on == 'md'"  mat-mini-fab color="primary" style="width: 47px; height: 47px;" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div  style="display: flex; align-items: flex-end; gap: 10px; flex-grow: 1;">
    <div style="display: flex; flex: 1">
      <img src="../../../../assets/avatar.jpg" width="50" height="50" style="border-radius: 50%">
      <div *ngIf="sz.on != 'md'"style="display: flex; align-items: center; flex-grow: 1">
        <div style="display: flex; flex-direction: column; flex-grow: 1;">
          <span class="mat-h3">Munkhbayar G</span>
          <span class="mat-h3 sub-text">@mbr_gtk</span>
        </div>
        <mat-icon>more</mat-icon>
      </div>
    </div>
  </div>
</div>
