<div id="nav-container"
  classNames="!md:width-full md:md-width md:just-end"
  style=" height: 100vh; display: flex; flex-direction: column;
  padding-left: 11px; padding-right: 11px;">

  <mat-icon svgIcon="twitter"
  ngClass="hoverAnimation primaryColorBgHover blue-bird-{{theme.currentThemeShortName}}"
  style="width: 30px; height: 30px"></mat-icon>

  <nav style="display: flex; flex-direction: column;"
  [ngStyle]="{'gap': (windowHeight > 657 ? 10 : 0) + 'px'}">
    <div style="position: relative">
      <app-sidenav-link (onInit)="selectedNavItem=home" #home text="Home" icon="home" [active]="true"></app-sidenav-link>
      <div id="dot"
        *ngIf="home.active"
        class="primaryColorBg"
        style="position: absolute; top:8px; left:28px;  width: 6px; height: 6px; border-radius: 50%"></div>
    </div>
    <app-sidenav-link text="Explore" icon="hashtag"></app-sidenav-link>
    <app-sidenav-link text="Notifications" icon="notif"></app-sidenav-link>
    <app-sidenav-link text="Messages" icon="message"></app-sidenav-link>
    <app-sidenav-link *ngIf="windowHeight > 573" text="Bookmarks" icon="bookmark" ></app-sidenav-link>
    <app-sidenav-link *ngIf="windowHeight > 573" text="Lists" icon="list" ></app-sidenav-link>
    <app-sidenav-link text="Profile" icon="profile" ></app-sidenav-link>
    <app-sidenav-link text="More" icon="more"
    #more (click)="moreClicked($event, 573, more)"></app-sidenav-link>
  </nav>
  <div style="margin-top: 10px;">
    <button *ngIf="sz.on != 'md'"
      (click)="openNewTweetDialog()"
      mat-raised-button color="primary"
      style="border-radius: 999px; width: 227.7px; min-height: 47px;">Tweet</button>

      <button *ngIf="sz.on == 'md'"
      (click)="openNewTweetDialog()"
      mat-mini-fab color="primary"
      style="width: 47px; height: 47px;" aria-label="Example icon button with a delete icon">
      <mat-icon svgIcon="feather"></mat-icon>
    </button>
  </div>

  <div  style="display: flex; align-items: flex-end;
    flex-grow: 1;width: 100%; ">
    <div class="hoverAnimation"
    style="display: flex; gap: 10px; padding: 11px;
      margin-bottom: 15px; align-items: center;width: 100%; ">
      <img src="../../../../assets/avatar.jpg"
      style="border-radius: 50%;
      border: 1px solid gray; width: 40px; height: 40px">
      <div *ngIf="sz.on != 'md'"
        style="display: flex; flex: 1 1 auto; align-items: center; flex-grow: 1;">
        <div style="display: flex; flex-direction: column; gap: 3px">
          <span class="mat-h3">Munkhbayar G</span>
          <span class="mat-caption sub-text">@mbr_gtk</span>
        </div>
      </div>
      <!--
        <mat-icon *ngIf="sz.on != 'md'" style="font-weight: 100">more_horiz</mat-icon>
      -->
      <mat-icon *ngIf="sz.on != 'md'" style="font-weight: 100" svgIcon="more-horiz"></mat-icon>
    </div>
  </div>
</div>
