<div id="profile-container">
  <div id="profile-header">
    <mat-icon class="hoverAnimation">arrow_back</mat-icon>
    <app-double-lined-text [title]="'title-text'" [sub-title]="'9,900 Tweets'"></app-double-lined-text>
  </div>
  <div id="profile-images-container">
    <div id="profile-banner-image-container"></div>
    <div id="profile-image-container">
      <img src="../../../../assets/avatar.jpg"
      style="border-radius: 50%; border: 3px solid gray; width: 120px; height: 120px">

      <div style="flex-grow: 1;"> </div>
      <div id="btns-container">
        <app-circle-icon-button svgIcon="more-horiz"></app-circle-icon-button>
        <app-circle-icon-button svgIcon="message-outline"></app-circle-icon-button>
        <app-circle-icon-button svgIcon="notif-plus"></app-circle-icon-button>

        <div
          style="display: flex; align-items: center; padding: 0 0px 0 0px; border: 1px solid gray; border-radius: 999px;">
          <span class="mat-button">Following</span>
        </div>
      </div>
    </div>
  </div>
  <div id="profile-info-container">
    <app-double-lined-text [title]="'Munkhbayar-gtk'" [sub-title]="'@mbr-gtk'"></app-double-lined-text>
    Profile names,Bio, location & joined date, following and followers count
  </div>
  <div id="activities-container"></div>
</div>
