#app-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-end;
  flex: 1
}

header{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 320px;
}
main {
  display: flex;
  flex-direction: column;
  height: auto;
  border-width: 0px 0px 0px 1px !important;
}
.md-main{
  //width: 920px;
}
.text {
  color: red;
}

#left-box {

}

