<div

[ngClass]="[theme.currentThemeClass, theme.currentThemeName, 'after-theme-applied'].join(' ')"
style="height: 100%" class="mat-app-background">

  <mat-sidenav-container style="height: 100%">
    <mat-sidenav *ngIf="sz.on == 'sm'" mode="over" opened>
      Left Nav on Mobile
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="app-container">
        <header role="banner" style="flex-grow: 1; height: 100%; "
            *ngIf="sz.on != 'sm'"
             >
            <app-sidenav></app-sidenav>
        </header>
        <main role="main" style=" flex-grow: 1;" class="divider-border">
          <div classNames="flex" >
            <div id="router-contianer" style="max-width: 600px; " [ngStyle]="{'width' : calc(windowWidth) + 'px'}">
              <router-outlet></router-outlet>
            </div>
            <app-trends-list *ngIf="windowWidth > 987" [ngStyle]="{'width' : (windowWidth > 1078? 350 : 290)+'px'}"></app-trends-list>
          </div>
        </main>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-anchor-dialog></app-anchor-dialog>
  <div id="theme-css-variables"
  ngInit
  (ngInit)="theme.init()"
  [ngClass]="theme.currentThemeShortName + '-color-list color-list'"></div>
</div>
