#app-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

header{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 320px;
}
main {
  display: flex;
  flex-direction: column;
}
.md-main{
  width: 920px;
}
.text {
  color: red;
}

