@use '@angular/material' as mat;
@include mat.core();

$blue-primary : mat.define-palette(mat.$blue-palette);
$blue-accent : mat.define-palette(mat.$blue-palette);
$blue-warn: mat.define-palette(mat.$blue-palette);
$blue-color: (primary: $blue-primary, accent: $blue-accent, warn: $blue-warn);


$yellow-primary : mat.define-palette(mat.$yellow-palette);
$yellow-accent : mat.define-palette(mat.$yellow-palette);
$yellow-warn: mat.define-palette(mat.$yellow-palette);
$yellow-color: (primary: $yellow-primary, accent: $yellow-accent, warn: $yellow-warn);

$pink-primary : mat.define-palette(mat.$pink-palette);
$pink-accent : mat.define-palette(mat.$pink-palette);
$pink-warn: mat.define-palette(mat.$pink-palette);
$pink-color: (primary: $pink-primary, accent: $pink-accent, warn: $pink-warn);

$deep-purple-primary : mat.define-palette(mat.$deep-purple-palette);
$deep-purple-accent : mat.define-palette(mat.$deep-purple-palette);
$deep-purple-warn: mat.define-palette(mat.$deep-purple-palette);
$deep-purple-color: (primary: $deep-purple-primary, accent: $deep-purple-accent, warn: $deep-purple-warn);

$deep-orange-primary : mat.define-palette(mat.$deep-orange-palette);
$deep-orange-accent : mat.define-palette(mat.$deep-orange-palette);
$deep-orange-warn: mat.define-palette(mat.$deep-orange-palette);
$deep-orange-color: (primary: $deep-orange-primary, accent: $deep-orange-accent, warn: $deep-orange-warn);

$teal-primary : mat.define-palette(mat.$teal-palette);
$teal-accent : mat.define-palette(mat.$teal-palette);
$teal-warn: mat.define-palette(mat.$teal-palette);
$teal-color: (primary: $teal-primary, accent: $teal-accent, warn: $teal-warn);

