@use '@angular/material' as mat;
@use 'mixin' as mix;

@import 'colors.scss';
@import 'typographics.scss';

@include mat.core();

@function merge($color, $typo) {
  $ret : mat.define-dark-theme((
    color: $color, typography: $typo
  ));
  //background-color: rgb(0, 0, 0)
  //color: rgb(231, 233, 234);
  @return modifyColors($ret, rgb(231, 233, 234), black);
}

$thm-nolight-blue-0 : merge($blue-color, $typo-0);
$thm-nolight-blue-1 : merge($blue-color, $typo-1);
$thm-nolight-blue-2 : merge($blue-color, $typo-2);
$thm-nolight-blue-3 : merge($blue-color, $typo-3);
$thm-nolight-blue-4 : merge($blue-color, $typo-4);

$thm-nolight-yellow-0 : merge($yellow-color, $typo-0);
$thm-nolight-yellow-1 : merge($yellow-color, $typo-1);
$thm-nolight-yellow-2 : merge($yellow-color, $typo-2);
$thm-nolight-yellow-3 : merge($yellow-color, $typo-3);
$thm-nolight-yellow-4 : merge($yellow-color, $typo-4);

$thm-nolight-pink-0 : merge($pink-color, $typo-0);
$thm-nolight-pink-1 : merge($pink-color, $typo-1);
$thm-nolight-pink-2 : merge($pink-color, $typo-2);
$thm-nolight-pink-3 : merge($pink-color, $typo-3);
$thm-nolight-pink-4 : merge($pink-color, $typo-4);

$thm-nolight-deep-purple-0 : merge($deep-purple-color, $typo-0);
$thm-nolight-deep-purple-1 : merge($deep-purple-color, $typo-1);
$thm-nolight-deep-purple-2 : merge($deep-purple-color, $typo-2);
$thm-nolight-deep-purple-3 : merge($deep-purple-color, $typo-3);
$thm-nolight-deep-purple-4 : merge($deep-purple-color, $typo-4);

$thm-nolight-deep-orange-0 : merge($deep-orange-color, $typo-0);
$thm-nolight-deep-orange-1 : merge($deep-orange-color, $typo-1);
$thm-nolight-deep-orange-2 : merge($deep-orange-color, $typo-2);
$thm-nolight-deep-orange-3 : merge($deep-orange-color, $typo-3);
$thm-nolight-deep-orange-4 : merge($deep-orange-color, $typo-4);

$thm-nolight-teal-0 : merge($teal-color, $typo-0);
$thm-nolight-teal-1 : merge($teal-color, $typo-1);
$thm-nolight-teal-2 : merge($teal-color, $typo-2);
$thm-nolight-teal-3 : merge($teal-color, $typo-3);
$thm-nolight-teal-4 : merge($teal-color, $typo-4);

.thm-nolight-blue-0 {
  @include mat.core($typo-0);
  @include mat.all-component-themes($thm-nolight-blue-0);
  @include mix.color($thm-nolight-blue-0);
  @include color-list($blue-color);
}
.thm-nolight-blue-1 {
  @include mat.core($typo-1);
  @include mat.all-component-themes($thm-nolight-blue-1);
  @include color-list($blue-color);
}
.thm-nolight-blue-2 {
  @include mat.core($typo-2);
  @include mat.all-component-themes($thm-nolight-blue-2);
  @include color-list($blue-color);
}
.thm-nolight-blue-3 {
  @include mat.core($typo-3);
  @include mat.all-component-themes($thm-nolight-blue-3);
  @include color-list($blue-color);
}
.thm-nolight-blue-4 {
  @include mat.core($typo-4);
  @include mat.all-component-themes($thm-nolight-blue-4);
}

.thm-nolight-yellow-0 {
  @include mat.core($typo-0);
  @include mat.all-component-themes($thm-nolight-yellow-0);
}
.thm-nolight-yellow-1 {
  @include mat.core($typo-1);
  @include mat.all-component-themes($thm-nolight-yellow-1);
}
.thm-nolight-yellow-2 {
  @include mat.core($typo-2);
  @include mat.all-component-themes($thm-nolight-yellow-2);
}
.thm-nolight-yellow-3 {
  @include mat.core($typo-3);
  @include mat.all-component-themes($thm-nolight-yellow-3);
}
.thm-nolight-yellow-4 {
  @include mat.core($typo-4);
  @include mat.all-component-themes($thm-nolight-yellow-4);
}

.thm-nolight-pink-0 {
  @include mat.core($typo-0);
  @include mat.all-component-themes($thm-nolight-pink-0);
}
.thm-nolight-pink-1 {
  @include mat.core($typo-1);
  @include mat.all-component-themes($thm-nolight-pink-1);
}
.thm-nolight-pink-2 {
  @include mat.core($typo-2);
  @include mat.all-component-themes($thm-nolight-pink-2);
}
.thm-nolight-pink-3 {
  @include mat.core($typo-3);
  @include mat.all-component-themes($thm-nolight-pink-3);
}
.thm-nolight-pink-4 {
  @include mat.core($typo-4);
  @include mat.all-component-themes($thm-nolight-pink-4);
}


.thm-nolight-deep-purple-0 {
  @include mat.core($typo-0);
  @include mat.all-component-themes($thm-nolight-deep-purple-0);
}
.thm-nolight-deep-purple-1 {
  @include mat.core($typo-1);
  @include mat.all-component-themes($thm-nolight-deep-purple-1);
}
.thm-nolight-deep-purple-2 {
  @include mat.core($typo-2);
  @include mat.all-component-themes($thm-nolight-deep-purple-2);
}
.thm-nolight-deep-purple-3 {
  @include mat.core($typo-3);
  @include mat.all-component-themes($thm-nolight-deep-purple-3);
}
.thm-nolight-deep-purple-4 {
  @include mat.core($typo-4);
  @include mat.all-component-themes($thm-nolight-deep-purple-4);
}

.thm-nolight-deep-orange-0 {
  @include mat.core($typo-0);
  @include mat.all-component-themes($thm-nolight-deep-orange-0);
}
.thm-nolight-deep-orange-1 {
  @include mat.core($typo-1);
  @include mat.all-component-themes($thm-nolight-deep-orange-1);
}
.thm-nolight-deep-orange-2 {
  @include mat.core($typo-2);
  @include mat.all-component-themes($thm-nolight-deep-orange-2);
}
.thm-nolight-deep-orange-3 {
  @include mat.core($typo-3);
  @include mat.all-component-themes($thm-nolight-deep-orange-3);
}
.thm-nolight-deep-orange-4 {
  @include mat.core($typo-4);
  @include mat.all-component-themes($thm-nolight-deep-orange-4);
}

.thm-nolight-teal-0 {
  @include mat.core($typo-0);
  @include mat.all-component-themes($thm-nolight-teal-0);
}
.thm-nolight-teal-1 {
  @include mat.core($typo-1);
  @include mat.all-component-themes($thm-nolight-teal-1);
}
.thm-nolight-teal-2 {
  @include mat.core($typo-2);
  @include mat.all-component-themes($thm-nolight-teal-2);
}
.thm-nolight-teal-3 {
  @include mat.core($typo-3);
  @include mat.all-component-themes($thm-nolight-teal-3);
}
.thm-nolight-teal-4 {
  @include mat.core($typo-4);
  @include mat.all-component-themes($thm-nolight-teal-4);
}

.nolight{
  //background-color: rgb(0, 0, 0) !important;
  scrollbar-color: rgb(92, 110, 126) rgb(30, 39, 50) !important;
  --sub-color: rgb(139, 152, 165);
  .sub-text {
    color: rgb(139, 152, 165);
  }

  .mat-body,
  .mat-body-2,
  .mat-caption,
  .mat-h3,
  .mat-h2{
    margin: 0 0 0 0 ;
  }

  .hoverAnimation:hover {
    //#303030
    //background-color: blue;
    background-color: rgba(48, 48, 48, 0.5);//rgba(0, 0, 0, 0.5);
  }

}


