@use '@angular/material' as mat;

//font-size, line-height, font-weight, font-family, and letter-spacing.
@function level($fz, $fw, $lh) {
  $ret: mat.define-typography-level($fz, $lh, $fw);
  @return $ret;
}
/*
  headline = h1
  title = h2
  subheading-2 = h3
*/
$typo-0: mat.define-typography-config(
  $subheading-2: level(14px, 700, normal),
  $body-1: level(14px, 400, normal),
  $body-2: level(14px, 700, normal),
  $headline: level(22px, 400, normal),
  $title: level(18px, 400, normal),
  $button: level(14px, 400, normal),
  $caption: level(12px, 400, normal)
);
$typo-1: mat.define-typography-config(
  $subheading-2: level(14px, 700, 19px),
  $body-1: level(14px, 400, 19px),
  $body-2: level(14px, 700, 19px),
  $headline: level(22px, 400, 19px),
  $title: level(19px, 400, 19px),
  $button: level(14px, 400, 19px),
  $caption: level(12px, 400, 19px)
);
$typo-2: mat.define-typography-config(
  $subheading-2: level(15px, 700, 20px),
  $body-1: level(15px, 400, 20px),
  $body-2: level(15px, 400, 20px),
  $headline: level(24px, 400, 20px),
  $title: level(20px, 400, 24px),
  $button: level(15px, 400, 20px),
  $caption: level(13px, 400, 20px)
);
$typo-3: mat.define-typography-config(
  $subheading-2: level(17px, 700, 20px),
  $body-1: level(17px, 400, 20px),
  $body-2: level(17px, 700, 20px),
  $headline: level(25px, 400, 26px),
  $title: level(22px, 400, 20px),
  $button: level(17px, 400, 20px),
  $caption: level(14px, 400, 20px)
);
$typo-4: mat.define-typography-config(
  $subheading-2: level(18px, 700, 29px), /*h3*/
  $body-1: level(18px, 400, 29px),
  $body-2: level(18px, 700, 29px),
  $headline: level(26px, 400, 29px), /*h1*/
  $title: level(24px, 400, 29px), /*h2*/
  $button: level(20px, 400, 24px),
  $caption: level(16px, 400, 24px)
);
