#more-menu-container {
  border-radius: 0px;
}
.newHoverEffect:hover{
  border-radius: 0px !important;
  background-color: blue;
}
.hoverRectAnimation {
  width: 100%;
  cursor: pointer;
}
.no-space {

}
.text-normal {
  font-weight: 500;
}
