<div id="more-menu-container" class="mat-app-background">
  <app-sidenav-link hoverEffect="hoverRectAnimation" normalClass="text-normal"
  text="Topics" icon="topic"></app-sidenav-link>
  <div *ngIf="windowHeight <= 573">
    <app-sidenav-link hoverEffect="hoverRectAnimation" normalClass="text-normal"  text="Bookmarks" icon="bookmark" ></app-sidenav-link>
    <app-sidenav-link hoverEffect="hoverRectAnimation" normalClass="text-normal"  text="Lists" icon="list" ></app-sidenav-link>
  </div>
  <app-sidenav-link hoverEffect="hoverRectAnimation" normalClass="text-normal"  text="Twitter Circle" icon="twitter-circle" ></app-sidenav-link>

</div>
