<div id="tweet-container">
  <div id="avatar-container">
    <img src="../../../../assets/avatar.jpg"
      style="border-radius: 50%; border: 1px solid gray; width: 40px; height: 40px">
  </div>
  <div id="tweet-body-container">
    <div id="user-info-container">
      <span class="mat-body">Munkhbayar-Gtk</span>
      <span class="mat-caption sub-text">@munkhbayar-gtk · 19h</span>
    </div>
    <div id="tweet-body" class="mat-body">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus aut placeat doloribus temporibus ipsam quidem voluptate incidunt reprehenderit fuga, cumque, enim non ipsum fugiat libero accusamus suscipit ex veritatis rerum.
    </div>
    <div id="action-container">
      <app-tweet-action svgIcon="reply" hoverColor="#1d9bf0" (click)="replyClick()"></app-tweet-action>
      <app-tweet-action svgIcon="retweet" hoverColor="#00ba7c" (click)="retweetClick()"></app-tweet-action>
      <app-tweet-action svgIcon="like" hoverColor="#f91880" (click)="likeClick()"></app-tweet-action>
      <app-tweet-action svgIcon="share" hoverColor="#1d9bf0" (click)="shareClick()"></app-tweet-action>
    </div>
  </div>
</div>
