
#tweet-container {
  display: flex;
  border-width: 0px 0px 1px 0px !important;
  padding: 11px;
  gap: 11px;
}
::ng-deep {
  .mat-menu-panel {
    margin-top: -25px;
    margin-right: 30px;
    border-radius: 4px !important;
  }
}

#avatar-container {
}
#user-info-container {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;

  .mat-body:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}
#tweet-body-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#action-container{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;

}

::ng-deep.mat-menu-item {
  mat-icon {
    width: 18px;
    height: 18px;
  }
}
