@use '@angular/material' as mat;

mat.$theme-ignore-duplication-warnings: true;

/* You can add global styles to this file, and also import other style files */

/*
  Theming and Typography related codes here

  1. [ ] create themes, Light, Dim, Dark
  2. [ ] create Theme chooser
  3. [ ] create foreground color chooser
  4. [ ] create font-size chooser (font-size, font-weight, line-spacing)

  theme-[bg-nm]-[fg-nm]-[fz-nm]

  .theme-dim-blue-0 {

  }
  .theme-dark-blue-0{

  }
  .theme-nolight-0{

  }

*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hoverAnimation{
  padding: 10px;
  transition: 200ms ease-out;
  border-radius: 999px;
  transition-property: background-color, box-shadow;
  cursor: pointer;
}

.hidden {
  display: none;
}
.inline{
  display: inline;
}
.flex {
  display: flex;
}
